body {
  font-family: sans-serif;
}
.container {
  display: block;
  margin: 60px auto;
  max-width: 600px;
}

h1 {
  font-size: 36px;
  text-align: center;
}

select {
  display: block;
  margin: 0 auto;
}
